.card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin: 2rem auto;
}
.card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 150px;
  border-radius: 25px;
  box-shadow: 0 0 10px grey;
}
.card-color {
  padding: 2px 17px;
  color: black;
}
.deleteButton {
  padding: 3px;
  border-radius: 5px;
  box-shadow: 0 0 10px grey;
  border:0;
}
.card-position--absolute {
  position: absolute;
  top: 5px;
  right: 15px;
}
.card-content-submitBtn {
  padding: 4px;

}